<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Menú raíz bajo Inventario -->
    <menuitem id="menu_reservation_root"
              name="Reservas"
              parent="stock.menu_stock_root"
              sequence="5"
              groups="pc_product_reservation.group_reservation_user"/>

    <!-- Menú: Reservas activas -->
    <menuitem id="menu_reservation_active"
              name="Reservas activas"
              parent="menu_reservation_root"
              action="product_reservation_action"
              sequence="10"/>

    <!-- Menú: Todas las reservas -->
    <menuitem id="menu_reservation_all"
              name="Todas las reservas"
              parent="menu_reservation_root"
              action="product_reservation_action_all"
              sequence="20"/>

</odoo>
